<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather1.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Eyal Roman to demonstrate the capabilities of Node.js.</p>
    <p>It uses data from mapbox.com and darksk.net</p></p>
    <img class="protrait" src={{imgPath}}>
  </div>
  {{>footer}}
</body>

</html>